<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="emp, emp1"  class="spring.core.Employee">
		<property name="id" value="10212" />
		<property name="name" value="dm1201212" />
	</bean>
	<alias name="emp" alias="myemp"/>
	
</beans>